<!-- Include settings_*.html files as tabs -->
<div class="container">
          <div class="row">
            <div class="col-12">
              <nav class="c-tabs">
                <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                  <a class="c-tabs__link active show" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">
                    <span class="c-tabs__link-icon">
                      <i class="feather icon-settings"></i>
                    </span>Edit Profile
                  </a>
                  <a class="c-tabs__link" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">
                    <span class="c-tabs__link-icon">
                      <i class="feather icon-sliders"></i>
                    </span>Company Settings
                  </a>
                  <a class="c-tabs__link u-hidden-down@tablet" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">
                    <span class="c-tabs__link-icon">
                      <i class="feather icon-credit-card"></i>
                    </span>Billing Methods
                  </a>
                </div>
                <div class="c-tabs__content tab-content" id="nav-tabContent">
                  <div class="c-tabs__pane active show" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">


                    <div class="row">
                      <div class="col-xl-4">
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-name">Name</label>
                          <input class="c-input" type="text" id="user-name">
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-email">Email Address</label>
                          <input class="c-input" type="text" id="user-email">
                        </div>
                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-phone">Phone Number</label>
                          <input class="c-input" type="tel" id="user-phone">
                        </div>

                        <div class="c-field u-mb-xsmall">
                          <label class="c-switch">
                            <input class="c-switch__input" id="user-newsleters" type="checkbox" checked="">
                            <span class="c-switch__label">Subscribe to Our Newsletters</span>
                          </label>
                        </div>

                        <div class="c-field u-mb-xsmall">
                          <label class="c-switch">
                            <input class="c-switch__input" id="user-tracking" type="checkbox">
                            <span class="c-switch__label">Enable Push Notifications</span>
                          </label>
                        </div>
                      </div>

                      <div class="col-xl-4">

                        <div class="c-field u-mb-xsmall">
                          <label class="c-field__label" for="user-plan">Plan</label>
                          <div class="c-select">
                            <select class="c-select__input" id="user-plan">
                              <!-- Take this from the pricing_inside.html file and define as variables so can be changed -->
                              <option>Freelancer</option>
                              <option>Pro</option>
                              <option>Agency</option>

                            </select>
                          </div>
                        </div>

                        <div class="c-note u-mb-medium">
                          <span class="c-note__icon">
                            <i class="feather icon-info"></i>
                          </span>

                          <p>You plan is calculated based on many factors includeing usage, time and billing option.</p>
                        </div>

                        <div class="c-field u-mb-medium">
                          <label class="c-field__label" for="user-country">Country</label>
                          <div class="c-select">
                            <select class="c-select__input" id="user-country">
                              <option>India</option>
                              <option>Singapore</option>
                              <option>United Stated</option>
                              <option>United Kingdom</option>
                              <option>Australia</option>
                            </select>
                          </div>
                        </div>
                      </div>

                      <div class="col-xl-4">

                        <div class="c-card u-text-center">
                          <div class="c-avatar u-inline-flex">
                            <img class="c-avatar__img" src="img/avatar-72.jpg" alt="Disha Kapoor">
                          </div>

                          <h5>Disha Kapoor</h5>
                          <p class="u-pb-small u-mb-small u-border-bottom">Frontend Developer</p>

                          <p class="u-h4">
                            <a class="u-mr-xsmall" href="#">
                              <i class="feather icon-facebook"></i>
                            </a>
                            <a class="u-mr-xsmall" href="#">
                              <i class="feather icon-twitter"></i>
                            </a>
                            <a class="u-mr-xsmall" href="#">
                              <i class="feather icon-github"></i>
                            </a>
                          </p>
                        </div>

                      </div>
                    </div>

                    <span class="c-divider u-mv-medium"></span>

                    <div class="row">
                      <div class="col-12 col-sm-7 col-xl-2 u-mr-auto u-mb-xsmall">
                        <button class="c-btn c-btn--info c-btn--fullwidth">Save Settings</button>
                      </div>

                      <div class="col-12 col-sm-5 col-xl-3 u-text-right">
                        <button class="c-btn c-btn--danger c-btn--fullwidth c-btn--outline" data-toggle="modal" data-target="#modal-delete">Delete My Account</button>

                        <div class="c-modal c-modal--small modal fade" id="modal-delete" tabindex="-1" role="dialog" aria-labelledby="modal-delete">
                          <div class="c-modal__dialog modal-dialog" role="document">
                              <div class="c-modal__content">
                                  <div class="c-modal__body">
                                    <span class="c-modal__close" data-dismiss="modal" aria-label="Close">
                                        <i class="feather icon-x"></i>
                                    </span>

                                    <span class="c-icon c-icon--danger c-icon--large u-mb-small">
                                      <i class="feather icon-alert-triangle"></i>
                                    </span>
                                    <h3 class="u-mb-small">Do you want to delete your account?</h3>

                                    <p class="u-mb-medium">By deleting you account, you no longer have access to your dashboard, members and your information.</p>

                                    <div class="u-text-center">
                                      <a href="#" class="c-btn c-btn--danger c-btn--outline u-mr-small" data-dismiss="modal" aria-label="Close">Cancel</a>
                                      <a href="#" class="c-btn c-btn--danger">Delete</a>
                                    </div>
                                  </div>
                              </div><!-- // .c-modal__content -->
                          </div><!-- // .c-modal__dialog -->
                        </div><!-- // .c-modal -->
                      </div>
                    </div>
                  </div>

                  <div class="c-tabs__pane" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">Edit Profile </div>
                  <div class="c-tabs__pane" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">PayPal Address & Saved Cards</div>
                </div>
              </nav>
            </div>
          </div>
        </div>
