<div class="modal-dialog">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <div class="modal-content modal-lg">
                        <div class="modal-header">
                            <h4 class="modal-title">Create Project</h4>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Project Name</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Client</label>
                                            <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                <option>Global Technologies</option>
                                                <option>Delta Infotech</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-gqht-container"><span class="select2-selection__rendered" id="select2-gqht-container" title="Global Technologies">Global Technologies</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Start Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>End Date</label>
                                            <div class="cal-icon">
                                                <input class="form-control datetimepicker" type="text">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>Rate</label>
                                            <input placeholder="$50" class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="form-group">
                                            <label>&nbsp;</label>
                                            <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                <option>Hourly</option>
                                                <option>Fixed</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-oye0-container"><span class="select2-selection__rendered" id="select2-oye0-container" title="Hourly">Hourly</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Priority</label>
                                            <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                                <option>High</option>
                                                <option>Medium</option>
                                                <option>Low</option>
                                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-0vuu-container"><span class="select2-selection__rendered" id="select2-0vuu-container" title="High">High</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Add Project Leader</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Team Leader</label>
                                            <div class="project-members">
                                                <a href="#" data-toggle="tooltip" title="" data-original-title="Jeffery Lalor">
                                                    <img src="assets/img/user.jpg" class="avatar" alt="Jeffery Lalor" height="20" width="20">
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Add Team</label>
                                            <input class="form-control" type="text">
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="form-group">
                                            <label>Team Members</label>
                                            <div class="project-members">
                                                <a href="#" data-toggle="tooltip" title="" data-original-title="John Doe">
                                                    <img src="assets/img/user.jpg" class="avatar" alt="John Doe" height="20" width="20">
                                                </a>
                                                <a href="#" data-toggle="tooltip" title="" data-original-title="Richard Miles">
                                                    <img src="assets/img/user.jpg" class="avatar" alt="Richard Miles" height="20" width="20">
                                                </a>
                                                <a href="#" data-toggle="tooltip" title="" data-original-title="John Smith">
                                                    <img src="assets/img/user.jpg" class="avatar" alt="John Smith" height="20" width="20">
                                                </a>
                                                <a href="#" data-toggle="tooltip" title="" data-original-title="Mike Litorus">
                                                    <img src="assets/img/user.jpg" class="avatar" alt="Mike Litorus" height="20" width="20">
                                                </a>
                                                <span class="all-team">+2</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <textarea rows="4" cols="5" class="form-control" placeholder="Enter your message here"></textarea>
                                </div>
                                <div class="m-t-20 text-center">
                                    <button class="btn btn-primary btn-lg">Create Project</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
