<div class="modal-dialog">
                <button type="button" class="close" data-dismiss="modal">×</button>
                <div class="modal-content modal-lg">
                    <div class="modal-header">
                        <h4 class="modal-title">Add New Ticket</h4>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ticket Subject</label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ticket Id</label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Assign Staff</label>
                                        <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                            <option>-</option>
                                            <option>Mike Litorus</option>
                                            <option>John Smith</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-0ki4-container"><span class="select2-selection__rendered" id="select2-0ki4-container" title="-">-</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Client</label>
                                        <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                            <option>-</option>
                                            <option>Delta Infotech</option>
                                            <option>International Software Inc</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-51p7-container"><span class="select2-selection__rendered" id="select2-51p7-container" title="-">-</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Priority</label>
                                        <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                            <option>High</option>
                                            <option>Medium</option>
                                            <option>Low</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-cyvy-container"><span class="select2-selection__rendered" id="select2-cyvy-container" title="High">High</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>CC</label>
                                        <input class="form-control" type="text">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Assign</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ticket Assignee</label>
                                        <div class="project-members">
                                            <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="John Smith">
                                                <img width="20" height="20" alt="John Smith" class="avatar" src="assets/img/user.jpg">
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Add Followers</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Ticket Followers</label>
                                        <div class="project-members">
                                            <a title="" data-toggle="tooltip" href="#" data-original-title="Richard Miles">
                                                <img width="20" height="20" alt="Richard Miles" class="avatar" src="assets/img/user.jpg">
                                            </a>
                                            <a title="" data-toggle="tooltip" href="#" data-original-title="John Smith">
                                                <img width="20" height="20" alt="John Smith" class="avatar" src="assets/img/user.jpg">
                                            </a>
                                            <a title="" data-toggle="tooltip" href="#" data-original-title="Mike Litorus">
                                                <img width="20" height="20" alt="Mike Litorus" class="avatar" src="assets/img/user.jpg">
                                            </a>
                                            <a title="" data-toggle="tooltip" href="#" data-original-title="Wilmer Deluna">
                                                <img width="20" height="20" alt="Wilmer Deluna" class="avatar" src="assets/img/user.jpg">
                                            </a>
                                            <span class="all-team">+2</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <label>Description</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label>Upload Files</label>
                                        <input class="form-control" type="file">
                                    </div>
                                </div>
                            </div>
                            <div class="m-t-20 text-center">
                                <button class="btn btn-primary btn-lg">Create Ticket</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
