<div class="modal-dialog">
                    <button type="button" class="close" data-dismiss="modal">×</button>
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="modal-title">Assign to this task</h3>
                        </div>
                        <div class="modal-body">
                            <div class="input-group m-b-30">
                                <input placeholder="Search to add" class="form-control search-input input-lg" type="text">
                                <span class="input-group-btn">
										<button class="btn btn-primary btn-lg">Search</button>
									</span>
                            </div>
                            <div>
                                <ul class="media-list media-list-linked chat-user-list">
                                    <li class="media">
                                        <a href="#" class="media-link">
                                            <div class="media-left"><span class="avatar">R</span></div>
                                            <div class="media-body media-middle text-nowrap">
                                                <div class="user-name">Richard Miles</div>
                                                <span class="designation">Web Developer</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="media-link">
                                            <div class="media-left"><span class="avatar">J</span></div>
                                            <div class="media-body media-middle text-nowrap">
                                                <div class="user-name">John Smith</div>
                                                <span class="designation">Android Developer</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li class="media">
                                        <a href="#" class="media-link">
                                            <div class="media-left">
                                                <span class="avatar">
														<img src="assets/img/user.jpg" alt="John Doe">
													</span>
                                            </div>
                                            <div class="media-body media-middle text-nowrap">
                                                <div class="user-name">Jeffery Lalor</div>
                                                <span class="designation">Team Leader</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="m-t-50 text-center">
                                <button class="btn btn-primary btn-lg">Assign</button>
                            </div>
                        </div>
                    </div>
                </div>
