PLEASE MAKE SURE THE CORRECT COLOR IS USED IN PRODUCTION


<div class="row">
                                            <div class="col-lg-6">
                                                <div class="button-list">
                                                    <button class="btn btn-primary" type="button" disabled="">
                                                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span><span class="sr-only">Loading...</span>
                                                    </button>
                                                    
                                                    <!-- EITHER ONE -->

                                                    <button class="btn btn-primary" type="button" disabled="">
                                                        <span class="spinner-border spinner-border-sm mr-1" role="status" aria-hidden="true"></span>
                                                        Loading...
                                                    </button>
                                                </div>
                                            </div>

                                        </div>
