<div class="container">
          <div class="row">
            <div class="col-md-6 col-xl-3">
              <div class="c-card">
                <span class="c-icon c-icon--info u-mb-small">
                  <i class="feather icon-activity"></i>
                </span>

                <h3 class="c-text--subtitle">Weekly Revenue</h3>
                <h1>$1200</h1>
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="c-card">
                <span class="c-icon c-icon--danger u-mb-small">
                  <i class="feather icon-shopping-cart"></i>
                </span>

                <h3 class="c-text--subtitle">Tasks Assigned</h3>
                <h1>623</h1>
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="c-card">
                <span class="c-icon c-icon--success u-mb-small">
                  <i class="feather icon-users"></i>
                </span>

                <h3 class="c-text--subtitle">Clients</h3>
                <h1>250</h1>
              </div>
            </div>

            <div class="col-md-6 col-xl-3">
              <div class="c-card">
                <span class="c-icon c-icon--warning u-mb-small">
                  <i class="feather icon-zap"></i>
                </span>

                <h3 class="c-text--subtitle">Revenue This Month</h3>
                <h1>$8794</h1>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="c-card u-ph-zero u-pb-zero">

                <div class="u-ph-medium">
                  <h4>Potential Revenue</h4>
                  <p>Activity from 1 Jan 2018 to 30 July 2018</p>

                  <span class="u-h1">$45,000</span>
                </div>

                <div class="u-p-medium">
                  <div class="c-chart">
                    <div class="sales-chart"><div class="chartist-tooltip" style="top: 263px; left: 344.5px;"></div><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="300px" class="ct-chart-line" style="width: 100%; height: 300px;"><g class="ct-grids"><line x1="30" x2="30" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="118" x2="118" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="206" x2="206" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="294" x2="294" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="382" x2="382" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="470" x2="470" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line y1="270" y2="270" x1="30" x2="470" class="ct-grid ct-vertical"></line><line y1="234.28571428571428" y2="234.28571428571428" x1="30" x2="470" class="ct-grid ct-vertical"></line><line y1="198.57142857142856" y2="198.57142857142856" x1="30" x2="470" class="ct-grid ct-vertical"></line><line y1="162.85714285714286" y2="162.85714285714286" x1="30" x2="470" class="ct-grid ct-vertical"></line><line y1="127.14285714285714" y2="127.14285714285714" x1="30" x2="470" class="ct-grid ct-vertical"></line><line y1="91.42857142857142" y2="91.42857142857142" x1="30" x2="470" class="ct-grid ct-vertical"></line><line y1="55.71428571428572" y2="55.71428571428572" x1="30" x2="470" class="ct-grid ct-vertical"></line><line y1="20" y2="20" x1="30" x2="470" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-a"><path d="M30,270L30,91.429C59.333,103.333,88.667,127.143,118,127.143C147.333,127.143,176.667,87.857,206,73.571C235.333,59.286,264.667,37.857,294,37.857C323.333,37.857,352.667,127.143,382,127.143C411.333,127.143,440.667,103.333,470,91.429L470,270Z" class="ct-area"></path><path d="M30,91.429C59.333,103.333,88.667,127.143,118,127.143C147.333,127.143,176.667,87.857,206,73.571C235.333,59.286,264.667,37.857,294,37.857C323.333,37.857,352.667,127.143,382,127.143C411.333,127.143,440.667,103.333,470,91.429" class="ct-line"></path><line x1="30" y1="91.42857142857142" x2="30.01" y2="91.42857142857142" class="ct-point" ct:value="50" ct:meta="Sales"></line><line x1="118" y1="127.14285714285714" x2="118.01" y2="127.14285714285714" class="ct-point" ct:value="40" ct:meta="Sales"></line><line x1="206" y1="73.57142857142858" x2="206.01" y2="73.57142857142858" class="ct-point" ct:value="55" ct:meta="Sales"></line><line x1="294" y1="37.85714285714286" x2="294.01" y2="37.85714285714286" class="ct-point" ct:value="65" ct:meta="Sales"></line><line x1="382" y1="127.14285714285714" x2="382.01" y2="127.14285714285714" class="ct-point" ct:value="40" ct:meta="Sales"></line><line x1="470" y1="91.42857142857142" x2="470.01" y2="91.42857142857142" class="ct-point" ct:value="50" ct:meta="Sales"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="30" y="275" width="88" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 88px; height: 20px;">Jan</span></foreignObject><foreignObject style="overflow: visible;" x="118" y="275" width="88" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 88px; height: 20px;">Feb</span></foreignObject><foreignObject style="overflow: visible;" x="206" y="275" width="88" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 88px; height: 20px;">Mars</span></foreignObject><foreignObject style="overflow: visible;" x="294" y="275" width="88" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 88px; height: 20px;">Apr</span></foreignObject><foreignObject style="overflow: visible;" x="382" y="275" width="88" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 88px; height: 20px;">May</span></foreignObject><foreignObject style="overflow: visible;" x="470" y="275" width="30" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 30px; height: 20px;">June</span></foreignObject><foreignObject style="overflow: visible;" y="234.28571428571428" x="10" height="35.714285714285715" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">0</span></foreignObject><foreignObject style="overflow: visible;" y="198.57142857142856" x="10" height="35.714285714285715" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">10</span></foreignObject><foreignObject style="overflow: visible;" y="162.85714285714283" x="10" height="35.71428571428571" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">20</span></foreignObject><foreignObject style="overflow: visible;" y="127.14285714285714" x="10" height="35.71428571428572" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">30</span></foreignObject><foreignObject style="overflow: visible;" y="91.42857142857142" x="10" height="35.71428571428572" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">40</span></foreignObject><foreignObject style="overflow: visible;" y="55.71428571428572" x="10" height="35.714285714285694" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">50</span></foreignObject><foreignObject style="overflow: visible;" y="20" x="10" height="35.71428571428572" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">60</span></foreignObject><foreignObject style="overflow: visible;" y="-10" x="10" height="30" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 10px;">70</span></foreignObject></g></svg></div>
                  </div>
                </div>
                
              </div>
            </div>

            <div class="col-md-6">
              <div class="c-card u-ph-zero u-pb-zero">

                <div class="u-ph-medium">
                  <h4>Project Completion</h4>
                  <p>Task Activity from 1 Jan 2018 to 30 July 2018</p>

                  <span class="u-h1">63%</span>
                </div>

                <div class="u-p-medium">
                  <div class="c-chart">
                    <div class="payouts-chart"><div class="chartist-tooltip" style="top: 185px; left: -11.5px;"><span class="chartist-tooltip-value">35</span></div><svg xmlns:ct="http://gionkunz.github.com/chartist-js/ct" width="100%" height="300px" class="ct-chart-line" style="width: 100%; height: 300px;"><g class="ct-grids"><line x1="30" x2="30" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="116" x2="116" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="202" x2="202" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="288" x2="288" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="374" x2="374" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line x1="460" x2="460" y1="20" y2="270" class="ct-grid ct-horizontal"></line><line y1="270" y2="270" x1="30" x2="460" class="ct-grid ct-vertical"></line><line y1="234.28571428571428" y2="234.28571428571428" x1="30" x2="460" class="ct-grid ct-vertical"></line><line y1="198.57142857142856" y2="198.57142857142856" x1="30" x2="460" class="ct-grid ct-vertical"></line><line y1="162.85714285714286" y2="162.85714285714286" x1="30" x2="460" class="ct-grid ct-vertical"></line><line y1="127.14285714285714" y2="127.14285714285714" x1="30" x2="460" class="ct-grid ct-vertical"></line><line y1="91.42857142857142" y2="91.42857142857142" x1="30" x2="460" class="ct-grid ct-vertical"></line><line y1="55.71428571428572" y2="55.71428571428572" x1="30" x2="460" class="ct-grid ct-vertical"></line><line y1="20" y2="20" x1="30" x2="460" class="ct-grid ct-vertical"></line></g><g><g class="ct-series ct-series-b"><path d="M30,270L30,198.571C58.667,174.762,87.333,127.143,116,127.143C144.667,127.143,173.333,145,202,145C230.667,145,259.333,73.571,288,73.571C316.667,73.571,345.333,170,374,170C402.667,170,431.333,134.286,460,116.429L460,270Z" class="ct-area"></path><path d="M30,198.571C58.667,174.762,87.333,127.143,116,127.143C144.667,127.143,173.333,145,202,145C230.667,145,259.333,73.571,288,73.571C316.667,73.571,345.333,170,374,170C402.667,170,431.333,134.286,460,116.429" class="ct-line"></path><line x1="30" y1="198.57142857142856" x2="30.01" y2="198.57142857142856" class="ct-point" ct:value="20"></line><line x1="116" y1="127.14285714285714" x2="116.01" y2="127.14285714285714" class="ct-point" ct:value="40"></line><line x1="202" y1="145" x2="202.01" y2="145" class="ct-point" ct:value="35"></line><line x1="288" y1="73.57142857142858" x2="288.01" y2="73.57142857142858" class="ct-point" ct:value="55"></line><line x1="374" y1="170" x2="374.01" y2="170" class="ct-point" ct:value="28"></line><line x1="460" y1="116.42857142857142" x2="460.01" y2="116.42857142857142" class="ct-point" ct:value="43"></line></g></g><g class="ct-labels"><foreignObject style="overflow: visible;" x="30" y="275" width="86" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 86px; height: 20px;">Jan</span></foreignObject><foreignObject style="overflow: visible;" x="116" y="275" width="86" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 86px; height: 20px;">Feb</span></foreignObject><foreignObject style="overflow: visible;" x="202" y="275" width="86" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 86px; height: 20px;">Mars</span></foreignObject><foreignObject style="overflow: visible;" x="288" y="275" width="86" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 86px; height: 20px;">Apr</span></foreignObject><foreignObject style="overflow: visible;" x="374" y="275" width="86" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 86px; height: 20px;">May</span></foreignObject><foreignObject style="overflow: visible;" x="460" y="275" width="30" height="20"><span class="ct-label ct-horizontal ct-end" xmlns="http://www.w3.org/2000/xmlns/" style="width: 30px; height: 20px;">June</span></foreignObject><foreignObject style="overflow: visible;" y="234.28571428571428" x="10" height="35.714285714285715" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">0</span></foreignObject><foreignObject style="overflow: visible;" y="198.57142857142856" x="10" height="35.714285714285715" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">10</span></foreignObject><foreignObject style="overflow: visible;" y="162.85714285714283" x="10" height="35.71428571428571" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">20</span></foreignObject><foreignObject style="overflow: visible;" y="127.14285714285714" x="10" height="35.71428571428572" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">30</span></foreignObject><foreignObject style="overflow: visible;" y="91.42857142857142" x="10" height="35.71428571428572" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">40</span></foreignObject><foreignObject style="overflow: visible;" y="55.71428571428572" x="10" height="35.714285714285694" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">50</span></foreignObject><foreignObject style="overflow: visible;" y="20" x="10" height="35.71428571428572" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 36px; width: 10px;">60</span></foreignObject><foreignObject style="overflow: visible;" y="-10" x="10" height="30" width="10"><span class="ct-label ct-vertical ct-start" xmlns="http://www.w3.org/2000/xmlns/" style="height: 30px; width: 10px;">70</span></foreignObject></g></svg></div>
                  </div>
                </div>
                
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="c-table-responsive@wide">
                <table class="c-table">
                  <thead class="c-table__head">
                    <tr class="c-table__row">
                      <th class="c-table__cell c-table__cell--head">Customer</th>
                      <th class="c-table__cell c-table__cell--head">Company</th>
                      <th class="c-table__cell c-table__cell--head">Lead Score</th>
                      <th class="c-table__cell c-table__cell--head">Date</th>
                      <th class="c-table__cell c-table__cell--head">Tags</th>
                      <th class="c-table__cell c-table__cell--head">Actions</th>
                    </tr>
                  </thead>

                  <tbody>
                    <tr class="c-table__row">
                      <td class="c-table__cell">
                        <div class="o-media">
                          <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--small">
                              <img class="c-avatar__img" src="img/avatar1-72.jpg" alt="Jessica Alba">
                            </div>
                          </div>
                          <div class="o-media__body">
                            <h6>Adam Sandler</h6>
                            <p>Graphic Designer</p>
                          </div>
                        </div>
                      </td>
                      <td class="c-table__cell">Pinterest</td>
                      <th class="c-table__cell">223</th>
                      <td class="c-table__cell">19-11-2018</td>
                      <td class="c-table__cell">
                        <a class="c-badge c-badge--small c-badge--info" href="#">sketch</a>
                        <a class="c-badge c-badge--small c-badge--info" href="#">ui</a>
                        <a class="c-badge c-badge--small c-badge--fancy" href="#">ux</a>
                      </td>
                      <td class="c-table__cell">
                        <div class="c-dropdown dropdown">
                          <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <i class="feather icon-chevron-down"></i>
                          </a>

                          <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable1" x-placement="bottom-end" style="position: absolute; transform: translate3d(-60px, 41px, 0px); top: 0px; left: 0px; will-change: transform;">
                            <a class="c-dropdown__item dropdown-item" href="#">Link One</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Two</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Three</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="c-table__row">
                      <td class="c-table__cell">
                        <div class="o-media">
                          <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--small">
                              <img class="c-avatar__img" src="img/avatar2-72.jpg" alt="Jessica Alba">
                            </div>
                          </div>
                          <div class="o-media__body">
                            <h6>Adam Sandler</h6>
                            <p>Copy Writer</p>
                          </div>
                        </div>
                      </td>
                      <td class="c-table__cell">Facebook</td>
                      <th class="c-table__cell">134</th>
                      <td class="c-table__cell">28-2-2018</td>
                      <td class="c-table__cell">
                        <a class="c-badge c-badge--small c-badge--warning" href="#">research</a>
                        <a class="c-badge c-badge--small c-badge--success" href="#">docs</a>
                      </td>
                      <td class="c-table__cell">
                        <div class="c-dropdown dropdown">
                          <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <i class="feather icon-chevron-down"></i>
                          </a>

                          <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable2">
                            <a class="c-dropdown__item dropdown-item" href="#">Link One</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Two</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Three</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="c-table__row">
                      <td class="c-table__cell">
                        <div class="o-media">
                          <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--small">
                              <img class="c-avatar__img" src="img/avatar3-72.jpg" alt="Jessica Alba">
                            </div>
                          </div>
                          <div class="o-media__body">
                            <h6>Adam Sandler</h6>
                            <p>Marketing Dir.</p>
                          </div>
                        </div>
                      </td>
                      <td class="c-table__cell">Spotify</td>
                      <th class="c-table__cell">165</th>
                      <td class="c-table__cell">17-8-2018</td>
                      <td class="c-table__cell">
                        <a class="c-badge c-badge--small c-badge--fancy" href="#">marketing</a>
                        <a class="c-badge c-badge--small c-badge--info" href="#">seo</a>
                      </td>
                      <td class="c-table__cell">
                        <div class="c-dropdown dropdown">
                          <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <i class="feather icon-chevron-down"></i>
                          </a>

                          <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable3">
                            <a class="c-dropdown__item dropdown-item" href="#">Link One</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Two</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Three</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="c-table__row">
                      <td class="c-table__cell">
                        <div class="o-media">
                          <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--small">
                              <img class="c-avatar__img" src="img/avatar4-72.jpg" alt="Jessica Alba">
                            </div>
                          </div>
                          <div class="o-media__body">
                            <h6>Adam Sandler</h6>
                            <p>Front-end Developer</p>
                          </div>
                        </div>
                      </td>
                      <td class="c-table__cell">Google</td>
                      <th class="c-table__cell">235</th>
                      <td class="c-table__cell">14-3-2018</td>
                      <td class="c-table__cell">
                        <a class="c-badge c-badge--small c-badge--info" href="#">html</a>
                        <a class="c-badge c-badge--small c-badge--info" href="#">css</a>
                        <a class="c-badge c-badge--small c-badge--fancy" href="#">javascript</a>
                      </td>
                      <td class="c-table__cell">
                        <div class="c-dropdown dropdown">
                          <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable4" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <i class="feather icon-chevron-down"></i>
                          </a>

                          <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable4">
                            <a class="c-dropdown__item dropdown-item" href="#">Link One</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Two</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Three</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="c-table__row">
                      <td class="c-table__cell">
                        <div class="o-media">
                          <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--small">
                              <img class="c-avatar__img" src="img/avatar5-72.jpg" alt="Jessica Alba">
                            </div>
                          </div>
                          <div class="o-media__body">
                            <h6>Adam Sandler</h6>
                            <p>Backend Developer</p>
                          </div>
                        </div>
                      </td>
                      <td class="c-table__cell">Twitter</td>
                      <th class="c-table__cell">113</th>
                      <td class="c-table__cell">14-7-2018</td>
                      <td class="c-table__cell">
                        <a class="c-badge c-badge--small c-badge--info" href="#">php</a>
                        <a class="c-badge c-badge--small c-badge--danger" href="#">nodejs</a>
                        <a class="c-badge c-badge--small c-badge--success" href="#">server</a>
                      </td>
                      <td class="c-table__cell">
                        <div class="c-dropdown dropdown">
                          <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable5" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <i class="feather icon-chevron-down"></i>
                          </a>

                          <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable5">
                            <a class="c-dropdown__item dropdown-item" href="#">Link One</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Two</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Three</a>
                          </div>
                        </div>
                      </td>
                    </tr>

                    <tr class="c-table__row">
                      <td class="c-table__cell">
                        <div class="o-media">
                          <div class="o-media__img u-mr-xsmall">
                            <div class="c-avatar c-avatar--small">
                              <img class="c-avatar__img" src="img/avatar6-72.jpg" alt="Jessica Alba">
                            </div>
                          </div>
                          <div class="o-media__body">
                            <h6>Adam Sandler</h6>
                            <p>Marketer.</p>
                          </div>
                        </div>
                      </td>
                      <td class="c-table__cell">Apple</td>
                      <th class="c-table__cell">230</th>
                      <td class="c-table__cell">22-2-2018</td>
                      <td class="c-table__cell">
                        <a class="c-badge c-badge--small c-badge--warning" href="#">docs</a>
                        <a class="c-badge c-badge--small c-badge--danger" href="#">content</a>
                        <a class="c-badge c-badge--small c-badge--success" href="#">seo</a>
                      </td>
                      <td class="c-table__cell">
                        <div class="c-dropdown dropdown">
                          <a href="#" class="c-btn c-btn--info has-icon dropdown-toggle" id="dropdownMenuTable6" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            More <i class="feather icon-chevron-down"></i>
                          </a>

                          <div class="c-dropdown__menu dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuTable6">
                            <a class="c-dropdown__item dropdown-item" href="#">Link One</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Two</a>
                            <a class="c-dropdown__item dropdown-item" href="#">Link Three</a>
                          </div>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          
        </div>