<div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-10">
              <div class="c-invoice">

                <div class="c-invoice__wrapper">
                  <div class="c-invoice__header">


                      <h4 class="c-invoice__title">
                        Invoice #0042<span class="c-invoice__date">1 Sept 2019</span>
                      </h4>

                      <div class="c-invoice__brand">
                        <span class="c-icon c-icon--large c-icon--info">
                          <i class="feather icon-anchor"></i>
                        </span>
                      </div>
                  </div>

                  <div class="c-invoice__details">
                      <div class="c-invoice__company">
                          <span class="u-text-mute u-text-uppercase u-text-xsmall">From:</span>
                          <div class="c-invoice__company-name">
                              Vertical Idea
                          </div>

                          <div class="c-invoice__company-address">
                              39 Timber Road,<br>
                              Los Angeles, CA 97446<br>
                              United States
                          </div>
                      </div>

                      <div class="c-invoice__company">
                          <span class="u-text-mute u-text-uppercase u-text-xsmall">To:</span>
                          <div class="c-invoice__company-name">
                              Client Inc
                          </div>

                          <div class="c-invoice__company-address">
                            39 Timber Road,<br>
                            Los Angeles, CA 97446<br>
                            United States
                          </div>
                      </div>
                  </div>

                  <div class="c-invoice__body">
                      <div class="c-invoice__table">
                          <table class="c-table">
                              <thead class="c-table__head c-table__head--slim">
                                  <tr class="c-table__row">
                                      <th class="c-table__cell c-table__cell--head">Description</th>
                                      <th class="c-table__cell c-table__cell--head">Qty</th>
                                      <th class="c-table__cell c-table__cell--head">Price</th>
                                  </tr>
                              </thead>
                              <tbody>
                                  <tr class="c-table__row">
                                      <td class="c-table__cell">Website Design</td>
                                      <td class="c-table__cell">2</td>
                                      <td class="c-table__cell">$4,500</td>
                                  </tr>
                                  <tr class="c-table__row">
                                      <td class="c-table__cell">UI Development</td>
                                      <td class="c-table__cell">3</td>
                                      <td class="c-table__cell">$7,500</td>
                                  </tr>
                                  <tr>
                                      <td class="c-table__cell">Landing Page</td>
                                      <td class="c-table__cell">1</td>
                                      <td class="c-table__cell">$2,320</td>
                                  </tr>
                              </tbody>

                              <tfoot>
                                  <tr class="c-table__row">
                                      <td class="c-table__cell" colspan="2"><strong>Total</strong></td>
                                      <td class="c-table__cell"><strong>$15,490</strong></td>
                                  </tr>
                              </tfoot>
                          </table>

                          <div class="c-invoice__terms">
                              All amounts shown on this invoice are in US dollars.
                          </div>
                      </div>
                  </div>

                  <div class="c-invoice__note">
                    <h5>Payment Details</h5>
                    <p>This invoice can be paid via credit card or PayPal</p>
                  </div>

                  <div class="c-invoice__note">
                    <h5>Notes</h5>
                    <p>Thanks for your business!</p>
                  </div>
                </div>

                <div class="c-invoice__footer">
                  <span>Company Ltd. London, UK</span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <footer class="c-footer">
                <p>© 2018 Neat, Inc</p>
                <span class="c-footer__divider">|</span>
                <nav>
                  <a class="c-footer__link" href="#">Terms</a>
                  <a class="c-footer__link" href="#">Privacy</a>
                  <a class="c-footer__link" href="#">FAQ</a>
                  <a class="c-footer__link" href="#">Help</a>
                </nav>
              </footer>
            </div>
          </div>
        </div>


        <script type="text/javascript">
          <!-- Form should have Live Editing. All viewable fields should be editable when user clicks on them and can change details.
          something like this works.  -->

              $('.input').keyup(function(){
                 var $this = $(this);
                 $('.'+$this.attr('id')+'').html($this.val());
              });
          </script>
