THIS WILL LIST ALL TASKS OF A PROJECT
IF THE USER DIRECTY COMES TO IT, HEN SHOW THEM THEIR TASKS ONLY FROM ALL PROJECTS
IF THE USER COMES FROM A PROJET OR A TASK OF A PROJECT, SHOW ALL TASKS OF THAT PROJECT


THESE TASKS SHOULD BE DRAGGABLE AND DROPPABLE LIKE IN PIPELINE
WHEN THEY ARE DRAGGED TO ANOTHER COLOUMN, THEIR STATUS CHANGES
IF A TASK IS MOVED TO COMPLETED COLUMN, IT SHOULD BE MARKED AS SUCH WITH THE INPUT BOX CHECKED
IF A COMPLETED TASK IS UNCHECKED, IT SHOULD BE MOVED BACK TO ONGOING AND CHECKBOX SHOULD BE UNCHECKED












<div class="row">


    <div class="col-sm-12">
                                <div class="text-sm-center">
                                    <div class="btn-group mb-3">
                                        <button type="button" class="btn btn-primary">All</button>
                                    </div>
                                    <div class="btn-group mb-3 ml-1">
                                        <button type="button" class="btn btn-light">Ongoing</button>
                                        <button type="button" class="btn btn-light">Finished</button>
<button type="button" class="btn btn-light">My Tasks</button>
                                    </div>


                                </div>
                            </div>












                            <div class="col-lg-4">
                                <div class="card-box">
                                    <div class="dropdown float-right">
                                        <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h3"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                            <a class="dropdown-item" href="#">Add Members</a>
                                            <a class="dropdown-item" href="#">Add Due Date</a>
                                        </div>
                                    </div> <!-- end dropdown -->

                                    <h4 class="header-title">Upcoming</h4>
                                    <p class="sub-header">
                                        Your awesome text goes here. Your awesome text goes here.
                                    </p>

                                    <ul class="sortable-list taskList list-unstyled ui-sortable" id="upcoming">
                                        <li id="task1" class="ui-sortable-handle">
                                            <span class="badge bg-soft-danger text-danger float-right">High</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">iOS App home page</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 16, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-1.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-3.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="task2" class="ui-sortable-handle">
                                            <span class="badge bg-soft-success text-success float-right">Low</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Topnav layout design</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>Many desktop publishing packages and web page.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Nov 22, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-2.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="task3" class="ui-sortable-handle">
                                            <span class="badge bg-soft-danger text-danger float-right">High</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Invite user to a project</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>If you are going to use a passage of Lorem Ipsum.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 15, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-5.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="task-info ui-sortable-handle" id="task4">
                                            <span class="badge bg-soft-warning text-warning float-right">Medium</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Write a release note</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Dec 03, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-6.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-7.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
                                </div>
                            </div> <!-- end col -->

                            <div class="col-lg-4">
                                <div class="card-box">
                                    <div class="dropdown float-right">
                                        <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h3"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                            <a class="dropdown-item" href="#">Add Members</a>
                                            <a class="dropdown-item" href="#">Add Due Date</a>
                                        </div>
                                    </div> <!-- end dropdown -->

                                    <h4 class="header-title">In Progress</h4>
                                    <p class="sub-header">
                                        Your awesome text goes here.
                                    </p>

                                    <ul class="sortable-list taskList list-unstyled ui-sortable" id="inprogress">
                                        <li id="task6" class="ui-sortable-handle">
                                            <span class="badge bg-soft-warning text-warning float-right">Medium</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Enable analytics tracking</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>It has roots in a piece of classical Latin literature from 45 BC.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Sep 18, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-8.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="task-info ui-sortable-handle" id="task7">
                                            <span class="badge bg-soft-danger text-danger float-right">High</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Kanban board design</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>All the Lorem Ipsum generators on the Internet tend to repeat predefined.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 30, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-9.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-10.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="task-danger ui-sortable-handle" id="task8">
                                            <span class="badge bg-soft-success text-success float-right">Low</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Code HTML email template</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Nov 23, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-1.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-3.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                    </ul>
                                    <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->

                            <div class="col-lg-4">
                                <div class="card-box">
                                    <div class="dropdown float-right">
                                        <a href="#" class="dropdown-toggle arrow-none" data-toggle="dropdown" aria-expanded="false">
                                            <i class="mdi mdi-dots-vertical m-0 text-muted h3"></i>
                                        </a>
                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a class="dropdown-item" href="#">Edit</a>
                                            <a class="dropdown-item" href="#">Delete</a>
                                            <a class="dropdown-item" href="#">Add Members</a>
                                            <a class="dropdown-item" href="#">Add Due Date</a>
                                        </div>
                                    </div> <!-- end dropdown -->

                                    <h4 class="header-title">Completed</h4>
                                    <p class="sub-header">
                                        Your awesome text goes here. Your awesome text goes here.
                                    </p>

                                    <ul class="sortable-list taskList list-unstyled ui-sortable" id="completed">
                                        <li class="task-warning ui-sortable-handle" id="task10">
                                            <span class="badge bg-soft-success text-success float-right">Low</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Brand logo design</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>Various versions have evolved over the years, sometimes by accident.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Jun 13, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-3.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="task-success ui-sortable-handle" id="task11">
                                            <span class="badge bg-soft-warning text-warning float-right">Medium</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Improve animation loader</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>A handful of model sentence structures, to generate Lorem Ipsum which looks reasonable.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 16, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-4.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-7.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li id="task12" class="ui-sortable-handle">
                                            <span class="badge bg-soft-danger text-danger float-right">High</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">Dashboard Re-design</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>There are many variations of passages of Lorem Ipsum available.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 16, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-5.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-9.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="task-info ui-sortable-handle" id="task13">
                                            <span class="badge bg-soft-success text-success float-right">Low</span>
                                            <h5 class="mt-0"><a href="javascript: void(0);" class="text-dark">iOS App home page</a></h5>
                                            <div class="checkbox checkbox-blue mb-2 checkbox-single float-right">
                                                <input type="checkbox">
                                                <label></label>
                                            </div>
                                            <p>you need to be sure there isn't anything embarrassing hidden in the middle of text.</p>
                                            <div class="clearfix"></div>
                                            <div class="row">
                                                <div class="col">
                                                    <p class="font-13 mt-2 mb-0"><i class="mdi mdi-calendar"></i> Oct 16, 2018</p>
                                                </div>
                                                <div class="col-auto">
                                                    <div class="text-right">
                                                        <a href="javascript: void(0);" class="text-muted">
                                                            <img src="assets/images/users/user-10.jpg" alt="task-user" class="avatar-sm img-thumbnail rounded-circle">
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="javascript: void(0);" class="btn btn-primary btn-block mt-3 waves-effect waves-light"><i class="mdi mdi-plus-circle"></i> Add New</a>
                                </div> <!-- end card-box -->
                            </div> <!-- end col -->

                        </div>
