THIS SHOULD COME UNDER RIGHT NAVBAR THERE WILL BE MORE OPTIONS
CHOOSE NAVBAR BACKGRDOUND COLOR FROM GIVEN PALLETE

OTHER OPTIONS TO BE ADDED ARE
Invoices
Calendar Event
Ticket (Bugs)
Time Sheet Entry






<li class="dropdown show cursor"><a class="dropdown-toggle no-after peers fxw-nw ai-c lh-1" data-toggle="dropdown"><div class="peer mR-10"></div><div class="peer btn btn-primary"><span class="fsz-sm c-grey-900">New</span></div></a><ul class="dropdown-menu fsz-sm show"><li><a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="c-deep-orange-500 ti-layers-alt mR-10"></i><!-- react-text: 388 --> <!-- /react-text --><span>Project</span></a></li><li><a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="c-green-500 ti-user mR-10"></i><!-- react-text: 393 --> <!-- /react-text --><span>Member</span></a></li><li><a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="c-deep-purple-500 ti-user mR-10"></i><!-- react-text: 398 --> <!-- /react-text --><span>Client</span></a></li><li><a class="d-b td-n pY-5 bgcH-grey-100 c-grey-700"><i class="c-brown-500 ti-layout mR-10"></i><!-- react-text: 404 --> <!-- /react-text --><span>Task</span></a></li></ul></li>
