THIS PAGINTION STYLE NEEDS TO BE APPLIED EVERYWHERE WHERE THE LISTS ARE LONG
IF NO PAGINATION, THEN USE INFINITY LOAD






<div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="tickets-table_info" role="status" aria-live="polite">Showing 1 to 10 of 15 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="tickets-table_paginate"><ul class="pagination pagination-rounded"><li class="paginate_button page-item previous disabled" id="tickets-table_previous"><a href="#" aria-controls="tickets-table" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="tickets-table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="tickets-table" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="tickets-table_next"><a href="#" aria-controls="tickets-table" data-dt-idx="3" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li></ul></div></div></div>
