<div class="content container-fluid">
                <div class="row">
                    <div class="col-sm-4 col-3">
                        <h4 class="page-title">People</h4>
                    </div>
                    <div class="col-sm-8 col-9 text-right m-b-20">
                        <a href="#" class="btn btn-primary btn-rounded pull-right" data-toggle="modal" data-target="#add_client"><i class="fa fa-plus"></i> Add People</a>
                        <div class="view-icons">
                            <a href="clients.html" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                            <a href="clients-list.html" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row filter-row">
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
                            <label class="focus-label">Client ID</label>
                            <input type="text" class="form-control floating">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus">
                            <label class="focus-label">Client Name</label>
                            <input type="text" class="form-control floating">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <div class="form-group form-focus select-focus focused">
                            <label class="focus-label">Company</label>
                            <select class="select floating select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option>Select Company</option>
                                <option>Global Technologies</option>
                                <option>Delta Infotech</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-nf62-container"><span class="select2-selection__rendered" id="select2-nf62-container" title="Select Company">Select Company</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3">
                        <a href="#" class="btn btn-success btn-block"> Search </a>
                    </div>
                </div>
                <div class="row staff-grid-row">
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="client-profile.html" class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Global Technologies</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Barry Cuda</a></h5>
                            <div class="small text-muted">CEO</div>
                            <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                            <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="client-profile.html" class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Delta Infotech</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Tressa Wexler</a></h5>
                            <div class="small text-muted">Manager</div>
                            <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                            <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="client-profile.html" class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Cream Inc</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Ruby Bartlett</a></h5>
                            <div class="small text-muted">CEO</div>
                            <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                            <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="client-profile.html" class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Wellware Company</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Misty Tison</a></h5>
                            <div class="small text-muted">CEO</div>
                            <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                            <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="client-profile.html" class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Mustang Technologies</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Daniel Deacon</a></h5>
                            <div class="small text-muted">CEO</div>
                            <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                            <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="client-profile.html" class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">International Software Inc</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Walter Weaver</a></h5>
                            <div class="small text-muted">CEO</div>
                            <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                            <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="client-profile.html" class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Mercury Software Inc</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Amanda Warren</a></h5>
                            <div class="small text-muted">CEO</div>
                            <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                            <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3">
                        <div class="profile-widget">
                            <div class="profile-img">
                                <a href="client-profile.html" class="avatar">G</a>
                            </div>
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <div class="dropdown-menu dropdown-menu-right">
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#edit_client"><i class="fa fa-pencil m-r-5"></i> Edit</a>
                                    <a class="dropdown-item" href="#" data-toggle="modal" data-target="#delete_client"><i class="fa fa-trash-o m-r-5"></i> Delete</a>
                                </div>
                            </div>
                            <h4 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Carlson Tech</a></h4>
                            <h5 class="user-name m-t-10 m-b-0 text-ellipsis"><a href="client-profile.html">Betty Carlson</a></h5>
                            <div class="small text-muted">CEO</div>
                            <a href="chat.html" class="btn btn-white btn-sm m-t-10">Message</a>
                            <a href="client-profile.html" class="btn btn-white btn-sm m-t-10">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
