THESE ARE PIPELINE STATS
MUST BE SHOWN ON PIPELINE SCREEN
AND COULD BE SHOWN IN HOME ALSO

BELOW THIS WOULD BE THE PIPELINE VIEW THAT IS ALREADY THERE WITH CHANGES IN TITLES

ACTIVE | WON | LOST






<div class="row">
                            <div class="col-md-4">
                                <div class="card-box bg-pattern">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-blue rounded">
                                                <i class="fe-layers avatar-title font-22 text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h3 class="text-dark my-1"><span data-plugin="counterup">120</span></h3>
                                                <p class="text-muted mb-0 text-truncate">ACTIVE</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->

                            <div class="col-md-4">
                                <div class="card-box bg-pattern">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-success rounded">
                                                <i class="fe-award avatar-title font-22 text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h3 class="text-dark my-1"><span data-plugin="counterup">741</span></h3>
                                                <p class="text-muted mb-0 text-truncate">WON</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->
                            <div class="col-md-4">
                                <div class="card-box bg-pattern">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-md bg-danger rounded">
                                                <i class="fe-delete avatar-title font-22 text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h3 class="text-dark my-1"><span data-plugin="counterup">256</span></h3>
                                                <p class="text-muted mb-0 text-truncate">LOST</p>
                                            </div>
                                        </div>
                                    </div>
                                </div> <!-- end card-box-->
                            </div> <!-- end col -->
                        </div>
