<div class="container">
        <div class="row u-pv-large">
          <div class="col-lg-5 u-text-center u-ml-auto u-mr-auto">
            <h1>Simple Pricing</h1>
            <p class="u-mb-large u-h4">Different plans to help you decide the best for your business, 100% money back guarantee.</p>
          </div>
        </div>
        <div class="row u-mb-xlarge">
          <div class="col-lg-4">
            <div class="c-plan">
              <span class="c-plan__icon c-icon c-icon--info c-icon--large">
                <i class="feather icon-volume"></i>
              </span>

              <h3 class="c-plan__title">Freelancer</h3>
              <div class="c-plan__price">$0<span class="c-plan__duration">/month</span></div>

              <ul class="c-plan__list">
                <li class="c-plan__list-item">Access to 10 Features</li>
                <li class="c-plan__list-item">2 Team Members</li>
                <li class="c-plan__list-item">2 Team Members</li>
                <li class="c-plan__list-item">2 Team Members</li>
                <li class="c-plan__list-item">2 Team Members</li>
                <li class="c-plan__list-item">2 Team Members</li>
              </ul>

              <a class="c-btn c-btn--info c-btn--outline c-btn--fullwidth" href="#">Sign Up</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="c-plan">
              <span class="c-plan__icon c-icon c-icon--success c-icon--large">
                <i class="feather icon-volume-2"></i>
              </span>

              <h3 class="c-plan__title">Pro</h3>
              <div class="c-plan__price">$10<span class="c-plan__duration">/month</span></div>

              <ul class="c-plan__list">
                <li class="c-plan__list-item">Access to all Features</li>
                <li class="c-plan__list-item">Client Dashboard</li>
                <li class="c-plan__list-item">Invite Collaborators</li>
                <li class="c-plan__list-item">Invite Collaborators</li>
                <li class="c-plan__list-item">Invite Collaborators</li>
                <li class="c-plan__list-item">Invite Collaborators</li>

              </ul>

              <a class="c-btn c-btn--info c-btn--outline c-btn--fullwidth" href="#">Sign Up</a>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="c-plan">
              <span class="c-plan__icon c-icon c-icon--fancy c-icon--large">
                <i class="feather icon-volume-1"></i>
              </span>

              <h3 class="c-plan__title">Company</h3>
              <div class="c-plan__price">$49<span class="c-plan__duration">/month</span></div>

              <ul class="c-plan__list">
                <li class="c-plan__list-item">Access to all Features</li>
                <li class="c-plan__list-item">Client Dashboard</li>
                <li class="c-plan__list-item">Invite Collaborators</li>
                <li class="c-plan__list-item">Invite Collaborators</li>
                <li class="c-plan__list-item">Invite Collaborators</li>
                <li class="c-plan__list-item">Invite Collaborators</li>
              </ul>

              <a class="c-btn c-btn--info c-btn--outline c-btn--fullwidth" href="#">Sign Up</a>
            </div>
          </div>
        </div>

      </div>
