<div class="row">
                    <div class="col-sm-12">
                        <div class="timeline" dir="ltr">
                            <article class="timeline-item alt">
                                <div class="time-show first">
                                    <a href="#" class="btn btn-primary width-lg">Today</a>
                                </div>
                            </article>
                            <article class="timeline-item alt">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow-alt"></span>
                                            <span class="timeline-icon bg-danger"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-danger">1 hour ago</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>Dolorum provident rerum aut hic quasi placeat iure tempora laudantium ipsa ad debitis unde? </p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item ">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow"></span>
                                            <span class="timeline-icon bg-success"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-success">2 hours ago</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>consectetur adipisicing elit. Iusto, optio, dolorum <a href="#">John deon</a> provident rerum aut hic quasi placeat iure tempora laudantium </p>

                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item alt">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow-alt"></span>
                                            <span class="timeline-icon bg-primary"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-primary">10 hours ago</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>3 new photo Uploaded on facebook fan page</p>
                                            <div class="album">
                                                <a href="#">
                                                    <img alt="" src="assets/images/small/img-1.jpg">
                                                </a>
                                                <a href="#">
                                                    <img alt="" src="assets/images/small/img-2.jpg">
                                                </a>
                                                <a href="#">
                                                    <img alt="" src="assets/images/small/img-3.jpg">
                                                </a>
                                            </div>
                                            <div class="clearfix"></div>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow"></span>
                                            <span class="timeline-icon bg-purple"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-purple">14 hours ago</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>Outdoor visit at California State Route 85 with John Boltana &amp;
                                                Harry Piterson regarding to setup a new show room.</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item alt">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow-alt"></span>
                                            <span class="timeline-icon"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-muted">19 hours ago</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>Jonatha Smith added new milestone <span><a href="#">Pathek</a></span>
                                                Lorem ipsum dolor sit amet consiquest dio</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="timeline-item alt">
                                <div class="time-show">
                                    <a href="#" class="btn btn-primary width-lg">Yesterday</a>
                                </div>
                            </article>
                            <article class="timeline-item">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow"></span>
                                            <span class="timeline-icon bg-warning"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-warning">07 January 2016</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>Montly Regular Medical check up at Greenland Hospital by the
                                                doctor <span><a href="#"> Johm meon </a></span>
                                            </p>

                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item alt">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow-alt"></span>
                                            <span class="timeline-icon bg-primary"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-primary">07 January 2016</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>Make changes to server configuration</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="timeline-item">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow"></span>
                                            <span class="timeline-icon bg-success"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-success">07 January 2016</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>Jonatha Smith added new milestone <span><a class="blue" href="#">crishtian</a></span>
                                                Lorem ipsum dolor sit amet consiquest dio</p>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="timeline-item alt">
                                <div class="time-show">
                                    <a href="#" class="btn btn-primary width-lg">Last Month</a>
                                </div>
                            </article>

                            <article class="timeline-item alt">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow-alt"></span>
                                            <span class="timeline-icon"><i class="mdi mdi-circle"></i></span>
                                            <h4 class="text-muted">31 December 2015</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>Make changes to server configuration</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                            <article class="timeline-item">
                                <div class="timeline-desk">
                                    <div class="panel">
                                        <div class="panel-body">
                                            <span class="arrow"></span>
                                            <span class="timeline-icon bg-danger"><i class="mdi mdi-circle">    </i></span>
                                            <h4 class="text-danger">16 Decembar 2015</h4>
                                            <p class="timeline-date text-muted"><small>08:25 am</small></p>
                                            <p>Jonatha Smith added new milestone <span><a href="#">prank</a></span>
                                                Lorem ipsum dolor sit amet consiquest dio</p>
                                        </div>
                                    </div>
                                </div>
                            </article>

                        </div>
                    </div>
                </div>
