<div class="content container-fluid">
                <div class="row">
                    <div class="col-xs-4">
                        <h4 class="page-title">Projects</h4>
                    </div>
                    <div class="col-xs-8 text-right m-b-30">
                        <a href="#" class="btn btn-primary rounded pull-right" data-toggle="modal" data-target="#create_project"><i class="fa fa-plus"></i> Create Project</a>
                        <div class="view-icons">
                            <a href="projects.html" class="grid-view btn btn-link active"><i class="fa fa-th"></i></a>
                            <a href="project-list.html" class="list-view btn btn-link"><i class="fa fa-bars"></i></a>
                        </div>
                    </div>
                </div>
                <div class="row filter-row">
                    <div class="col-sm-3 col-xs-6">
                        <div class="form-group form-focus">
                            <label class="control-label">Project Name</label>
                            <input type="text" class="form-control floating">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="form-group form-focus">
                            <label class="control-label">Employee Name</label>
                            <input type="text" class="form-control floating">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <div class="form-group form-focus select-focus focused">
                            <label class="control-label">Designation</label>
                            <select class="select floating select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                <option>Select Roll</option>
                                <option>Web Developer</option>
                                <option>Web Designer</option>
                                <option>Android Developer</option>
                                <option>Ios Developer</option>
                            </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-df0v-container"><span class="select2-selection__rendered" id="select2-df0v-container" title="Select Roll">Select Roll</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6">
                        <a href="#" class="btn btn-success btn-block"> Search </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-4">
                        <div class="card-box project-box">
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                                </ul>
                            </div>
                            <h4 class="project-title"><a href="project-view.html">Office Management</a></h4>
                            <small class="block text-ellipsis m-b-15">
									<span class="text-xs">1</span> <span class="text-muted">open tasks, </span>
									<span class="text-xs">9</span> <span class="text-muted">tasks completed</span>
								</small>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled it...
                            </p>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    Deadline:
                                </div>
                                <div class="text-muted">
                                    8 Sep 2017
                                </div>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Project Leader :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Jeffery Lalor"><img src="assets/img/user.jpg" alt="Jeffery Lalor"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Team :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="John Doe"><img src="assets/img/user.jpg" alt="John Doe"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Richard Miles"><img src="assets/img/user.jpg" alt="Richard Miles"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="John Smith"><img src="assets/img/user.jpg" alt="John Smith"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Mike Litorus"><img src="assets/img/user.jpg" alt="Mike Litorus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </div>
                            <p class="m-b-5">Progress <span class="text-success pull-right">40%</span></p>
                            <div class="progress progress-xs m-b-0">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="" style="width: 40%" data-original-title="40%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4">
                        <div class="card-box project-box">
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                                </ul>
                            </div>
                            <h4 class="project-title"><a href="project-view.html">Project Management</a></h4>
                            <small class="block text-ellipsis m-b-15">
									<span class="text-xs">2</span> <span class="text-muted">open tasks, </span>
									<span class="text-xs">5</span> <span class="text-muted">tasks completed</span>
								</small>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled it...
                            </p>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    Deadline:
                                </div>
                                <div class="text-muted">
                                    8 Sep 2017
                                </div>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Project Leader :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Jeffery Lalor"><img src="assets/img/user.jpg" alt="Jeffery Lalor"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Team :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="John Doe"><img src="assets/img/user.jpg" alt="John Doe"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Richard Miles"><img src="assets/img/user.jpg" alt="Richard Miles"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="John Smith"><img src="assets/img/user.jpg" alt="John Smith"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Mike Litorus"><img src="assets/img/user.jpg" alt="Mike Litorus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </div>
                            <p class="m-b-5">Progress <span class="text-success pull-right">40%</span></p>
                            <div class="progress progress-xs m-b-0">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="" style="width: 40%" data-original-title="40%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4">
                        <div class="card-box project-box">
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                                </ul>
                            </div>
                            <h4 class="project-title"><a href="project-view.html">Video Calling App</a></h4>
                            <small class="block text-ellipsis m-b-15">
									<span class="text-xs">3</span> <span class="text-muted">open tasks, </span>
									<span class="text-xs">3</span> <span class="text-muted">tasks completed</span>
								</small>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled it...
                            </p>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    Deadline:
                                </div>
                                <div class="text-muted">
                                    8 Sep 2017
                                </div>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Project Leader :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Jeffery Lalor"><img src="assets/img/user.jpg" alt="Jeffery Lalor"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Team :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="John Doe"><img src="assets/img/user.jpg" alt="John Doe"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Richard Miles"><img src="assets/img/user.jpg" alt="Richard Miles"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="John Smith"><img src="assets/img/user.jpg" alt="John Smith"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Mike Litorus"><img src="assets/img/user.jpg" alt="Mike Litorus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </div>
                            <p class="m-b-5">Progress <span class="text-success pull-right">40%</span></p>
                            <div class="progress progress-xs m-b-0">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="" style="width: 40%" data-original-title="40%"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-4">
                        <div class="card-box project-box">
                            <div class="dropdown profile-action">
                                <a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu pull-right">
                                    <li><a href="#" data-toggle="modal" data-target="#edit_project"><i class="fa fa-pencil m-r-5"></i> Edit</a></li>
                                    <li><a href="#" data-toggle="modal" data-target="#delete_project"><i class="fa fa-trash-o m-r-5"></i> Delete</a></li>
                                </ul>
                            </div>
                            <h4 class="project-title"><a href="project-view.html">Hospital Administration</a></h4>
                            <small class="block text-ellipsis m-b-15">
									<span class="text-xs">12</span> <span class="text-muted">open tasks, </span>
									<span class="text-xs">4</span> <span class="text-muted">tasks completed</span>
								</small>
                            <p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry. When an unknown printer took a galley of type and scrambled it...
                            </p>
                            <div class="pro-deadline m-b-15">
                                <div class="sub-title">
                                    Deadline:
                                </div>
                                <div class="text-muted">
                                    8 Sep 2017
                                </div>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Project Leader :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Jeffery Lalor"><img src="assets/img/user.jpg" alt="Jeffery Lalor"></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="project-members m-b-15">
                                <div>Team :</div>
                                <ul class="team-members">
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="John Doe"><img src="assets/img/user.jpg" alt="John Doe"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Richard Miles"><img src="assets/img/user.jpg" alt="Richard Miles"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="John Smith"><img src="assets/img/user.jpg" alt="John Smith"></a>
                                    </li>
                                    <li>
                                        <a href="#" data-toggle="tooltip" title="" data-original-title="Mike Litorus"><img src="assets/img/user.jpg" alt="Mike Litorus"></a>
                                    </li>
                                    <li>
                                        <a href="#" class="all-users">+15</a>
                                    </li>
                                </ul>
                            </div>
                            <p class="m-b-5">Progress <span class="text-success pull-right">40%</span></p>
                            <div class="progress progress-xs m-b-0">
                                <div class="progress-bar progress-bar-success" role="progressbar" data-toggle="tooltip" title="" style="width: 40%" data-original-title="40%"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
