<form class="form-horizontal">
                            <h4 class="page-title">Invoice Settings</h4>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Invoice prefix</label>
                                <div class="col-lg-9">
                                    <input class="form-control" value="INV" type="text">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-3 control-label">Invoice Logo</label>
                                <div class="col-lg-5">
                                    <input class="form-control" type="file">
                                    <span class="help-block">Recommended image size is 200px x 40px</span>
                                </div>
                                <div class="col-lg-4">
                                    <div class="img-thumbnail pull-right"><img src="assets/img/logo.png" class="img-responsive" alt="" width="100" height="100"></div>
                                </div>
                            </div>
                            <div class="col-sm-12 m-t-20 text-center">
                                <button type="button" class="btn btn-primary btn-lg">Save &amp; update</button>
                            </div>
                        </form>
