<form>
                            <h3 class="page-title">Basic Settings</h3>
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Default Country</label>
                                        <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                            <option selected="selected">USA</option>
                                            <option>United Kingdom</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-q2ik-container"><span class="select2-selection__rendered" id="select2-q2ik-container" title="USA">USA</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Date Format</label>
                                        <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                            <option value="d/m/Y">15/05/2016</option>
                                            <option value="d.m.Y">15.05.2016</option>
                                            <option value="d-m-Y">15-05-2016</option>
                                            <option value="m/d/Y">05/15/2016</option>
                                            <option value="Y/m/d">2016/05/15</option>
                                            <option value="Y-m-d">2016-05-15</option>
                                            <option value="M d Y">May 15 2016</option>
                                            <option selected="selected" value="d M Y">15 May 2016</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-xzhs-container"><span class="select2-selection__rendered" id="select2-xzhs-container" title="15 May 2016">15 May 2016</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Timezone</label>
                                        <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                            <option>(UTC +5:30) Antarctica/Palmer</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-5rg5-container"><span class="select2-selection__rendered" id="select2-5rg5-container" title="(UTC +5:30) Antarctica/Palmer">(UTC +5:30) Antarctica/Palmer</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Default Language</label>
                                        <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                            <option>English</option>
                                            <option selected="selected">French</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-uz2i-container"><span class="select2-selection__rendered" id="select2-uz2i-container" title="French">French</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Currency Code</label>
                                        <select class="select select2-hidden-accessible" tabindex="-1" aria-hidden="true">
                                            <option selected="selected">USD</option>
                                            <option>Pound</option>
                                            <option>EURO</option>
                                            <option>Ringgit</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" style="width: 100%;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-labelledby="select2-4vmm-container"><span class="select2-selection__rendered" id="select2-4vmm-container" title="USD">USD</span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label>Currency Symbol</label>
                                        <input class="form-control" readonly="" value="$" type="text">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 text-center m-t-20">
                                        <button type="button" class="btn btn-primary btn-lg">Save &amp; update</button>
                                    </div>
                                </div>
                            </div>
                        </form>
