TICKETS DESIGN HAS CHANGED
LAST UPDATED: 25 SEPT 2019


THERE SHOULD BE AN ACTION BUTTON ON EVERY TICKET WHERE ITS DESCRIPTION, ASSIGNEE, PRIORITY AND STATUS CAN BE CHANGED











<div class="content">

                    <!-- Start Content-->
                    <div class="container-fluid">

                        <!-- start page title -->
                        <div class="row">
                            <div class="col-12">
                                <div class="page-title-box">


                                </div>
                            </div>
                        </div>
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-md-6 col-xl-4">
                                <div class="widget-rounded-circle card-box">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-lg rounded-circle bg-primary">
                                                <i class="fe-tag font-22 avatar-title text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h3 class="text-dark mt-1"><span data-plugin="counterup">3,947</span></h3>
                                                <p class="text-muted mb-1 text-truncate">Total</p>
                                            </div>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end widget-rounded-circle-->
                            </div> <!-- end col-->

                            <div class="col-md-6 col-xl-4">
                                <div class="widget-rounded-circle card-box">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-lg rounded-circle bg-warning">
                                                <i class="fe-clock font-22 avatar-title text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h3 class="text-dark mt-1"><span data-plugin="counterup">624</span></h3>
                                                <p class="text-muted mb-1">Open</p>
                                            </div>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end widget-rounded-circle-->
                            </div> <!-- end col-->

                            <div class="col-md-6 col-xl-4">
                                <div class="widget-rounded-circle card-box">
                                    <div class="row">
                                        <div class="col-6">
                                            <div class="avatar-lg rounded-circle bg-success">
                                                <i class="fe-check-circle font-22 avatar-title text-white"></i>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <div class="text-right">
                                                <h3 class="text-dark mt-1"><span data-plugin="counterup">3195</span></h3>
                                                <p class="text-muted mb-1 text-truncate">Resolved</p>
                                            </div>
                                        </div>
                                    </div> <!-- end row-->
                                </div> <!-- end widget-rounded-circle-->
                            </div> <!-- end col-->

                             <!-- end col-->
                        </div>
                        <!-- end row -->

                        <div class="row">
                            <div class="col-12">
                                <div class="card-box">



                                    <div id="tickets-table_wrapper" class="dataTables_wrapper dt-bootstrap4 no-footer"><div class="row"><div class="col-sm-12 col-md-6"><div class="dataTables_length" id="tickets-table_length"><label>Show <select name="tickets-table_length" aria-controls="tickets-table" class="custom-select custom-select-sm form-control form-control-sm"><option value="10">10</option><option value="25">25</option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div></div><div class="row"><div class="col-sm-12"><table class="table table-hover m-0 table-centered dt-responsive nowrap w-100 dataTable no-footer dtr-inline collapsed" id="tickets-table" role="grid" aria-describedby="tickets-table_info" style="width: 1007px;">
                                        <thead>
                                        <tr role="row"><th class="sorting_asc" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 30.4px;" aria-sort="ascending" aria-label="
                                                ID
                                            : activate to sort column descending">
                                                ID
                                            </th><th class="sorting" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 140.4px;" aria-label="Requested By: activate to sort column ascending">Requested By</th><th class="sorting" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 266.4px;" aria-label="Subject: activate to sort column ascending">Subject</th><th class="sorting" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 66.4px;" aria-label="Assignee: activate to sort column ascending">Assignee</th><th class="sorting" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 54.4px;" aria-label="Priority: activate to sort column ascending">Priority</th><th class="sorting" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 48.4px;" aria-label="Status: activate to sort column ascending">Status</th><th class="sorting" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 95.4px;" aria-label="Created Date: activate to sort column ascending">Created Date</th><th class="sorting" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label="Due Date: activate to sort column ascending">Due Date</th><th class="hidden-sm sorting" tabindex="0" aria-controls="tickets-table" rowspan="1" colspan="1" style="width: 0px; display: none;" aria-label="Action: activate to sort column ascending">Action</th></tr>
                                        </thead>

                                        <tbody>






























                                        <tr role="row" class="odd">
                                            <td tabindex="0" class="sorting_1" style=""><b>#1020</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-9.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Erwin E. Brown</span>
                                                </a>
                                            </td>

                                            <td>
                                                A new rating has been received
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-1.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-warning text-warning">Medium</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-secondary">Closed</span>
                                            </td>

                                            <td>
                                                2013/08/11
                                            </td>

                                            <td style="display: none;">
                                                2013/08/30
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="even">
                                            <td tabindex="0" class="sorting_1"><b>#1254</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-8.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Margeret V. Ligon</span>
                                                </a>
                                            </td>

                                            <td>
                                                Your application has been received!
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-10.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-danger text-danger">High</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-secondary">Closed</span>
                                            </td>

                                            <td>
                                                01/04/2017
                                            </td>

                                            <td style="display: none;">
                                                21/05/2017
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="odd">
                                            <td tabindex="0" class="sorting_1"><b>#1256</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-2.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">George A. Llanes</span>
                                                </a>
                                            </td>

                                            <td>
                                                Support for theme
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-10.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-secondary text-secondary">Low</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                2017/04/28
                                            </td>

                                            <td style="display: none;">
                                                2017/04/28
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="even">
                                            <td class="sorting_1" tabindex="0"><b>#1352</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-5.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Karen R. Doyle</span>
                                                </a>
                                            </td>

                                            <td>
                                                Question regarding your Bootstrap Theme
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-8.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-danger text-danger">High</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                01/04/2017
                                            </td>

                                            <td style="display: none;">
                                                21/05/2017
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="odd">
                                            <td class="sorting_1" tabindex="0"><b>#2251</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-8.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Mark C. Diaz</span>
                                                </a>
                                            </td>

                                            <td>
                                                Verify your new email address!
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-10.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-danger text-danger">High</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                01/04/2017
                                            </td>

                                            <td style="display: none;">
                                                21/05/2017
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="even">
                                            <td tabindex="0" class="sorting_1"><b>#2542</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-3.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Jose D. Delacruz</span>
                                                </a>
                                            </td>

                                            <td>
                                                New submission on your website
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-9.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-warning text-warning">Medium</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-secondary">Closed</span>
                                            </td>

                                            <td>
                                                2008/04/25
                                            </td>

                                            <td style="display: none;">
                                                2008/04/25
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="odd">
                                            <td tabindex="0" class="sorting_1"><b>#320</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-5.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Phyllis K. Maciel</span>
                                                </a>
                                            </td>

                                            <td>
                                                Verify your new email address!
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-10.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-danger text-danger">High</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                2017/04/20
                                            </td>

                                            <td style="display: none;">
                                                2017/04/25
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="even">
                                            <td class="sorting_1" tabindex="0"><b>#3562</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-8.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Freddie J. Plourde</span>
                                                </a>
                                            </td>

                                            <td>
                                                Security alert for my account
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-2.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-secondary text-secondary">Low</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                01/04/2017
                                            </td>

                                            <td style="display: none;">
                                                21/05/2017
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="odd">
                                            <td tabindex="0" class="sorting_1"><b>#3652</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-3.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Jessica T. Phillips</span>
                                                </a>
                                            </td>

                                            <td>
                                                Item Support Message sent
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-9.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-warning text-warning">Medium</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-secondary">Closed</span>
                                            </td>

                                            <td>
                                                01/04/2017
                                            </td>

                                            <td style="display: none;">
                                                21/05/2017
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr><tr role="row" class="even">
                                            <td tabindex="0" class="sorting_1"><b>#3652</b></td>
                                            <td>
                                                <a href="javascript: void(0);" class="text-body">
                                                    <img src="assets/images/users/user-4.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                    <span class="ml-2">Luke J. Sain</span>
                                                </a>
                                            </td>

                                            <td>
                                                Your password has been reset
                                            </td>

                                            <td>
                                                <a href="javascript: void(0);">
                                                    <img src="assets/images/users/user-10.jpg" alt="contact-img" title="contact-img" class="rounded-circle avatar-xs">
                                                </a>
                                            </td>

                                            <td>
                                                <span class="badge bg-soft-secondary text-secondary">Low</span>
                                            </td>

                                            <td>
                                                <span class="badge badge-success">Open</span>
                                            </td>

                                            <td>
                                                01/04/2017
                                            </td>

                                            <td style="display: none;">
                                                21/05/2017
                                            </td>

                                            <td style="display: none;">
                                                <div class="btn-group dropdown">
                                                    <a href="javascript: void(0);" class="table-action-btn dropdown-toggle arrow-none btn btn-light btn-sm" data-toggle="dropdown" aria-expanded="false"><i class="mdi mdi-dots-horizontal"></i></a>
                                                    <div class="dropdown-menu dropdown-menu-right">
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-pencil mr-2 text-muted font-18 vertical-middle"></i>Edit Ticket</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-check-all mr-2 text-muted font-18 vertical-middle"></i>Close</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-delete mr-2 text-muted font-18 vertical-middle"></i>Remove</a>
                                                        <a class="dropdown-item" href="#"><i class="mdi mdi-star mr-2 font-18 text-muted vertical-middle"></i>Mark as Unread</a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr></tbody>
                                    </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="tickets-table_info" role="status" aria-live="polite">Showing 1 to 10 of 15 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="tickets-table_paginate"><ul class="pagination pagination-rounded"><li class="paginate_button page-item previous disabled" id="tickets-table_previous"><a href="#" aria-controls="tickets-table" data-dt-idx="0" tabindex="0" class="page-link"><i class="mdi mdi-chevron-left"></i></a></li><li class="paginate_button page-item active"><a href="#" aria-controls="tickets-table" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item "><a href="#" aria-controls="tickets-table" data-dt-idx="2" tabindex="0" class="page-link">2</a></li><li class="paginate_button page-item next" id="tickets-table_next"><a href="#" aria-controls="tickets-table" data-dt-idx="3" tabindex="0" class="page-link"><i class="mdi mdi-chevron-right"></i></a></li></ul></div></div></div></div>
                                </div>
                            </div><!-- end col -->
                        </div>
                        <!-- end row -->

                    </div> <!-- container -->

                </div>
