    
    <nav class="controls">
    			<a href="#" class="btn btn-primary" onClick="stopwatch.start();"><i class="mdi mdi-play">Start</i></a>
    			<!-- <a href="#" class="button" onClick="stopwatch.lap();">Lap</a> -->
    			<a href="#" class="btn btn-danger" onClick="stopwatch.stop();"><i class="mdi mdi-stop">Pause</i></a>
    			<a href="#" class="btn btn-info" onClick="stopwatch.restart();"><i class="mdi mdi-restart">Restart</i></a>
          <a href="#" class="btn btn-success" onclick="stopwatch.save()"><i class="mdi mdi-content-save">Save</i></a>
    			<!-- <a href="#" class="button" onClick="stopwatch.clear();">Clear Laps</a> -->
    		</nav>
    		<div class="stopwatch"></div>
    		<ul class="results"></ul>






    <script type="text/javascript">
    let tstart = [];
    let tpause = [];
    let tsave = [];
    let taskId = {};

    class Stopwatch {
    constructor(display, results) {
        this.running = false;
        this.display = display;
        this.results = results;
        this.laps = [];
        this.reset();
        this.print(this.times);
    }

    reset() {
        this.times = [ 0, 0, 0 ];
    }

    start() {
        if (!this.time) this.time = performance.now();
        if (!this.running) {
            this.running = true;
            requestAnimationFrame(this.step.bind(this));
            tstart.push(new Date().valueOf());
            taskId['start'] = tstart;
            localStorage.setItem('taskId',JSON.stringify(taskId)); //set start time
        }

    }

    lap() {
        let times = this.times;
        let li = document.createElement('li');
        li.innerText = this.format(times);
        this.results.appendChild(li);
    }

    stop() {
      if (this.running) {
        this.running = false;
        this.time = null;
        tpause.push(new Date().valueOf());
        taskId['pause'] = tpause;
        localStorage.setItem('taskId',JSON.stringify(taskId));
      }
    }

    restart() {
        if (!this.time) this.time = performance.now();
        if (!this.running) {
            this.running = true;
            requestAnimationFrame(this.step.bind(this));
        }
        this.reset();
    }

        save() {
          this.stop();
          taskId['save'] = new Date().valueOf();
          localStorage.setItem('taskId',JSON.stringify(taskId));
          //call api service here
        }



    clear() {
        clearChildren(this.results);
    }

    step(timestamp) {
        if (!this.running) return;
        this.calculate(timestamp);
        this.time = timestamp;
        this.print();
        requestAnimationFrame(this.step.bind(this));
    }

    calculate(timestamp) {
        var diff = timestamp - this.time;
        // Hundredths of a second are 100 ms
        this.times[2] += diff / 10;
        // Seconds are 100 hundredths of a second
        if (this.times[2] >= 100) {
            this.times[1] += 1;
            this.times[2] -= 100;
        }
        // Minutes are 60 seconds
        if (this.times[1] >= 60) {
            this.times[0] += 1;
            this.times[1] -= 60;
        }
    }

    print() {
        this.display.innerText = this.format(this.times);
    }

    format(times) {
        return `\
${pad0(times[0], 2)}:\
${pad0(times[1], 2)}:\
${pad0(Math.floor(times[2]), 2)}`;
    }
}

function pad0(value, count) {
    var result = value.toString();
    for (; result.length < count; --count)
        result = '0' + result;
    return result;
}

function clearChildren(node) {
    while (node.lastChild)
        node.removeChild(node.lastChild);
}

let stopwatch = new Stopwatch(
    document.querySelector('.stopwatch'),
    document.querySelector('.results'));

    </script>
