/*TIMELINE*/

.timeline {
    border-collapse: collapse;
    border-spacing: 0;
    display: table;
    margin-bottom: 50px;
    position: relative;
    table-layout: fixed;
    width: 100%
}

.timeline .time-show {
    margin-bottom: 30px;
    margin-right: -75px;
    margin-top: 30px;
    position: relative;
    text-align: right
}

.timeline .time-show a {
    color: #fff
}

.timeline:before {
    background-color: rgba(173,181,189,.3);
    bottom: 0;
    content: "";
    left: 50%;
    position: absolute;
    top: 30px;
    width: 2px;
    z-index: 0
}

.timeline .timeline-icon {
    -webkit-border-radius: 50%;
    background: #98a6ad;
    border-radius: 50%;
    color: #fff;
    display: block;
    height: 21px;
    left: -54px;
    margin-top: -11px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 21px
}

.timeline .timeline-icon i {
    color: #f7f7f7
}

.timeline .time-icon:before {
    font-size: 16px;
    margin-top: 5px
}

h3.timeline-title {
    color: #98a6ad;
    font-size: 20px;
    font-weight: 400;
    margin: 0 0 5px;
    text-transform: uppercase
}

.timeline-item {
    display: table-row
}

.timeline-item:before {
    content: "";
    display: block;
    width: 50%
}

.timeline-item .timeline-desk .arrow {
    border-bottom: 8px solid transparent;
    border-right: 8px solid #fff!important;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: -7px;
    margin-top: -10px;
    position: absolute;
    top: 50%;
    width: 0
}

.timeline-item.alt:after {
    content: "";
    display: block;
    width: 50%
}

.timeline-item.alt .timeline-desk .arrow-alt {
    border-bottom: 8px solid transparent;
    border-left: 8px solid #fff!important;
    border-top: 8px solid transparent;
    display: block;
    height: 0;
    left: auto;
    margin-top: -10px;
    position: absolute;
    right: -7px;
    top: 50%;
    width: 0
}

.timeline-item.alt .timeline-desk .album {
    float: right;
    margin-top: 20px
}

.timeline-item.alt .timeline-desk .album a {
    float: right;
    margin-left: 5px
}

.timeline-item.alt .timeline-icon {
    left: auto;
    right: -58px
}

.timeline-item.alt:before {
    display: none
}

.timeline-item.alt .panel {
    margin-left: 0;
    margin-right: 45px
}

.timeline-item.alt .panel .panel-body p+p {
    margin-top: 10px!important
}

.timeline-item.alt h4 {
    text-align: right
}

.timeline-item.alt p {
    text-align: right
}

.timeline-item.alt .timeline-date {
    text-align: right
}

.timeline-desk {
    display: table-cell;
    vertical-align: top;
    width: 50%
}

.timeline-desk h4 {
    font-size: 16px;
    font-weight: 300;
    margin: 0
}

.timeline-desk .panel {
    background: #fff;
    display: block;
    margin-bottom: 5px;
    margin-left: 45px;
    position: relative;
    text-align: left;
    padding: 20px;
    border-radius: 7px
}

.timeline-desk h5 span {
    color: #f7f7f7;
    display: block;
    font-size: 12px;
    margin-bottom: 4px
}

.timeline-desk p {
    color: #98a6ad;
    font-size: 14px;
    margin-bottom: 0
}

.timeline-desk .album {
    margin-top: 12px
}

.timeline-desk .album a {
    float: left;
    margin-right: 5px
}

.timeline-desk .album img {
    height: 36px;
    width: auto;
    border-radius: 3px
}

.timeline-desk .notification {
    background: none repeat scroll 0 0 #fff;
    margin-top: 20px;
    padding: 8px
}
